<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wing.glassdetect.mapper.UserMapper">
    <!--
      MyBatis-Plus 的 BaseMapper 已经覆盖了常用 CRUD，这里先留一个 XML 占位：
      你后续需要自定义 SQL 时，直接在这里加 <select>/<insert>/<update> 即可。
    -->
</mapper>


